@media (min-width: 979px) {
    #nav-burger {
        display: none;
    }

    #main-wrapper.toggled {
        padding-left: 0px !important;
    }

    #sidebar-wrapper {
        display: none;
    }
    .wpbarshow {
        min-height: 32px;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    #nav-burger {
        display: none;
    }
    
    #main-wrapper.toggled {
        padding-left: 0px !important;
    }

    #sidebar-wrapper {
        display: none;
    }
    
    .wpbarshow {
        min-height: 32px;
    }
}

@media (max-width: 767px) {
    #nav-header {
        display: none;
    }
    
    #twitter-widget iframe {
        width: 100% !important;
        max-width: 520px !important;
    }

    #twitter-widget-0 {
        margin-left: 0px !important;
    }
    #navbar-search { 
        display: none !important;
    }

    /** fucking hack everywhere **/
    #menu .dropdown-menu {
        position: relative;
        background: 0 0;
        box-shadow: none;
        border: none;
        clear: both;
        width: 100%;
        padding: 13px;
    }

    #menu .dropdown-menu li {
        display: table;
        clear: both;
        padding: 3px 13px;
        background: none;
        width: 100%;
    }

    #menu .dropdown-menu li a {
        padding: 0;
        display: block;
        width: 100%;
    }

    #menu .dropdown-menu li a:hover,
    #menu .dropdown-menu li a:visited,
    #menu .dropdown-menu li a:focus,
    #menu .dropdown-menu li a:link {
        background: transparent;
        text-decoration: none;
        outline: none;
    }

    #page-contents {
        width: 100% !important;
    }
    .dropdown-menu>li {
        margin: 3px auto !important;
    }
    .wpbarshow {
        min-height: 52px;
    }
}

@media (max-width: 480px) {
    .uk-dotnav {
        margin-bottom: 18px !important;
    }

    .uk-dotnav * * {
        width: 10px !important;
        height: 10px !important;
    }
    #navbar-search { 
        display: none !important;
    }

    /** fucking hack everywhere **/
    #menu .dropdown-menu {
        position: relative;
        background: 0 0;
        box-shadow: none;
        border: none;
        clear: both;
        width: 100%;
        padding: 13px;
    }

    #menu .dropdown-menu li {
        display: table;
        clear: both;
        padding: 3px 13px;
        background: none;
        width: 100%;
    }

    #menu .dropdown-menu li a {
        padding: 0;
        display: block;
        width: 100%;
    }

    #menu .dropdown-menu li a:hover,
    #menu .dropdown-menu li a:visited,
    #menu .dropdown-menu li a:focus,
    #menu .dropdown-menu li a:link {
        background: transparent;
        text-decoration: none;
        outline: none;
    }

    #page-contents {
        width: 100% !important;
    }
    .dropdown-menu>li {
        margin: 3px auto !important;
    }
    .wpbarshow {
        min-height: 52px;
    }
}

@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Roboto Light";
    src: url(../fonts/Roboto-Light.ttf) format("truetype");
}

@font-face {
    font-family: "Roboto Medium";
    src: url(../fonts/Roboto-Medium.ttf) format("truetype");
}

html, body {
    background: #29416C;
    height: 100%;
}

h1, h2, h3, h4, h5, h6  {
    font-family: "Roboto Light", Helvetica, Arial, sans-serif;
}
.navbar {
    background: #ffffff;
    margin-bottom: 0px;
    border-width: 0px;
}

.container-fluid {
    padding: 0px;
}

.navbar .container-fluid {
    padding-left: 40px;
    padding-right: 40px;
    height: 65px;
}

.navbar-header {
    width: 100%;
    max-width: 200px;
    margin-bottom: 5px; 
    float: left;
}

#logo-tj {
    max-height: 34px;
}

.navbar-default .navbar-nav .open a,
.navbar-default .navbar-nav .open a:focus {
    background: transparent;
    color: #1e3c8f;
}

#nav-header {
    height: 100%;
    padding: 8px 8px 0 8px;
}

#nav-header li a {
    font: 14px Roboto Medium;
    text-transform: uppercase;
}

#nav-header li a:hover {
    color: #1e3c8f;
}

.navbar-nav li .dropdown-menu {
    background-image: url(../images/bg-mega-menu.png);
    background-size: cover;
    background-repeat: repeat;
    margin-top: -10px;
    padding-bottom: 8px;
    padding-left: 40px;
    padding-right: 40px;
    border: 0px;
}

.dropdown-menu li {
    width: 33%;
    float: left;
    white-space: normal;
}

.mm-list {
    float: left;
}

.mm-list a {
    color: #ffffff !important;
    font: 14px Roboto !important;
    text-decoration: none;
}

.mm-list a:hover {
    color: #cccbcb !important;
}

.mm-list a:hover, a:visited, a:focus {
    outline: none;
}

.mm-sub {
    margin-bottom: 4px;
}

.mm-desc {
    color: #cccbcb;
    font: 14px Roboto Light;
    text-transform: none;
    white-space: normal;
}

#navbar-search {
    float: right;
    display: inline-block;
    height: 100%;
    padding: 19px 3px;
    max-width: 149px;
}

.form-control-feedback {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: block;
    width: auto;
    height: auto;
    line-height: 1;
    text-align: center;
    pointer-events: none;
    cursor: pointer;
    padding: 5px;
}

.search-form .form-group {
    background-color: #ffffff;
    width: 26px;
    height: 26px;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 25px !important; /** bug fixed **/
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    float: right !important;
    transition: all 0.35s ease, border-radius 0s;
    -webkit-transition: all 0.35s ease, border-radius 0s;
    -moz-transition: all 0.35s ease, border-radius 0s;
    -o-transition: all 0.35s ease, border-radius 0s;
}

.search-form .form-group.showClass {
    width: 100%;
}

.search-form .form-group input.form-control {
    background: transparent;
    padding-bottom: 16px;
    padding-left: 6px;
    padding-right: 24px;
    border: 0 none;
    box-shadow: none;
    display: block;
    width: 100%;
}

.search-form .form-group input.form-control::-webkit-input-placeholder {
    display: none;
}

.search-form .form-group input.form-control:-moz-placeholder {
    display: none;
}

.search-form .form-group input.form-control::-moz-placeholder {
    display: none;
}

.search-form .form-group input.form-control:-ms-input-placeholder {
    display: none;
}

.search-form .form-group:hover,
.search-form .form-group.hover {
    width: 100%;
    border-radius: 4px 25px 25px 4px;
}

.search-form .form-group span.form-control-feedback {
    color: #3596e0;
    font-size: 14px;
    line-height: 34px;
    text-align: center;
    width: 34px;
    height: 34px;
    display: block;
    position: absolute;
    left: initial;
    right: -2px;
    top: -1px;
    z-index: 2;
}

#nav-burger {
    margin-top: 10px;
    float: right;
}

.burger-button {
    padding: 8px;
}

.burger-button:hover {
    cursor: pointer;
}

.burger-button .icon-bar {
    background-color: #777777;
    display: block;
    height: 2px;
    width: 24px;
    margin-top: 3px;
}

.burger-button:hover .icon-bar {
    background-color: #1e3c8f;
}

#header-bottom {
    background-color: #1B3B75;
    height: 10px;
}

#wrapper {
    padding: 17px;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

#main-wrapper {
    position: relative;
    height: 100%;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;    
}

#main-wrapper.toggled {
    padding-left: 250px;
    min-height: 100%;
}

#sidebar-wrapper {
    /** background-image: url(../images/bg-mega-menu.png); wasted **/
    background-color: #29416C;
    background-size: cover;
    background-repeat: repeat;
    width: 0;
    height: 100%;
    padding-top: 75px;
    margin-left: -250px;
    z-index: 1000;
    position: absolute; 
    left: 250px;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

#main-wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

.sidebar-nav {
    width: 250px;
    margin-top: 10px;
    padding: 0;
    position: relative;
    top: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 15px;
    line-height: 40px;
    margin-bottom: 10px;
}

.sidebar-nav li a {
    color: #ffffff;
    font: 14px Roboto;
    text-decoration: none;
    display: block;
}

.sidebar-nav li a:hover {
    color: #cccbcb;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav li ul {
    margin-top: 6px;
    padding-left: 24px;
}

.sidebar-nav li ul li a {
    font-size: 13px;
}

#custom-search-form .search-query {
    color: #1e3c8f;
    font-size: 14px;
    line-height: 16px;
    width: 200px;
    height: 24px;
    margin:0;
    padding-left: 8px;
    padding-right: 28px;
    border: 0px;
    border-style: outset;
}

#custom-search-form button {
    background: none;
    color: #1e3c8f;
    position: relative;
    right: -172px;
    top: -43px;
}

#search-small {
    font-size: 14px;
}

#page-content-wrapper {
    width: 100%;
}

.xyz{
    min-width: 320px;
}

#main-wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0px; 
}

.uk-dotnav {
    margin-bottom: 30px;
}

.uk-dotnav * * {
    width: 15px;
    height: 15px;
}

footer {
    background: #e6e6e5;
}

#nav-footer {
    margin: 0 auto 0 auto;
    padding: 5px;
    display: table;
}

#nav-footer .fa {
    font-size: 16px;
    vertical-align: middle;
    margin-right: 5px;
}

#nav-footer a {
    display: inline-block;
    color: #666666;
    font: 14px Roboto Medium;
    padding: 10px;
}

#nav-footer a:hover {
    text-decoration: none;
}

#footer-top {
    background-repeat: repeat-x;
    height: 10px;
    margin: 0px;
    background-color: #1E447D;
}

#footer-bottom {
    background-color: #1E447D;
    height: 30px;
    color: #ffffff;
    font: 11px Roboto Light;
    margin: 0 auto 0 auto;
    padding: 7px;
    overflow: hidden;
}

#footer-bottom p {
    margin: 0 auto 0 auto;
    display: table;
}

#page-contents {
    background: #E1E3E4;
    font-size: 14px;
    width: 100%;
    min-height: 100%;
    height: auto;
    position: relative;
    padding: 75px 0 90px 0;
    margin: 0 auto -90px auto;
}

#page-contents-home {
    background: #E1E3E4;
    font: 14px Roboto;
    width: 100%;
    padding: 75px 0 0 0;
    margin: 0 auto 0 auto;    
}

fieldset {
    margin-top: 15px;
    padding-left: 40px;
    padding-right: 40px;
}

legend {
    font-size: 18px;
    padding-bottom: 4px;
}

h4 {
    font-weight: bold;
    margin-top: 0px;
}

.address-group {
    margin-bottom: 8px;
}

.glyphicon {
    font-size: 12px;
}

.address-group a {
    text-decoration: none;
}

input {
    font: 10px Roboto Light;
}

.link-group {
    margin-bottom: 20px;
}

.link-group a {
    text-decoration: none;
}

.link-sub {
    margin-bottom: 4px; 
    margin-left: 4px;
    margin-right: 4px;
}

.link-sub .fa-link {
    color: #777777;
    font-size: 12px;
    margin-right: 4px;
}

.link-desc {
    color: #777777;
    margin-left: 4px;
    margin-right: 4px;
}

#news-container {
    padding-left: 12px;
    padding-right: 4px;
}

#news-container .row {
    margin-bottom: 20px;
    padding-bottom: 8px;
    border-bottom: 1px solid #e5e5e5;
}

.news-card {
    padding: 0;   
}

.card-wrapper {
    margin-bottom: 19px;
}

.card {
    min-height: 260px;
    float: left;
    display: inline-block;
    text-decoration: none;
    padding: 0;
    margin: 0 auto;
    width: 100%;
}

.card:hover, .card:visited, .card:focus {
    text-decoration: none;
    outline: none;
}


.card-image img {
    min-height: 142px;
}

.card-content {
    height: 100%;
    padding: 16px 0;
}

.card-content a {
    color: inherit;
    text-decoration: none;
}

.card-title {
    font: 14px Roboto Medium;
    margin-bottom: 4px;
}

.card-date {
    color: #777777;
    font-size: 13px;
}

.pagination {
    margin-bottom: 10px;
    margin-top: 0px;
}

.pagination li a, .pagination li a:hover, .pagination li a:focus {
    color: #666666;
}

#twitter-widget-0 {
    width: 100% !important;
    height: 600px !important;
}


/** overrides **/
.yamm .dropdown.yamm-fw .sub-menu {
    left: 0;
    right: 0;
}
.navbar-nav li .sub-menu {
    background-image: url(../images/bg-mega-menu.png);
    background-size: cover;
    background-repeat: repeat;
    margin-top: -10px;
    padding-bottom: 8px;
    padding-left: 40px;
    padding-right: 40px;
    border: 0px;
}
.navbar-nav>li>.sub-menu {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.yamm .sub-menu {
    left: auto;
}
.sub-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.dropdown-menu > li > a {
    padding: 0 27px;
    position: relative;
    top: -3px;
}

.dropdown-menu > li {
    background: url(../images/icon-tj-white.png) no-repeat;
    margin: 13px auto;
}

.navbar-default .navbar-nav >.open > a:hover {
    background: transparent;
}

.nav > li {
    height: 100%;
}


.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid black;
}

.form-control-feedback {
    cursor: pointer;
}

#wp-admin-bar-wp-logo {
    display: none;
}

.footer {
  /**  
  position: absolute;
  bottom: 0;
  **/
  position: relative;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
  display: table;
}

/** helper **/
.emergent-pad {
    padding: 41px 41px 91px 41px;
}

.ann-pad {
    padding: 106px 33px 96px 33px !important;
}

/** magnify **/
.magnify{
    cursor: none;
}

.large {
    width: 300px;
    height: 300px;
    display: none;
    z-index: 1000;
    position: absolute;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -o-border-radius: 100%;
    box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85), 0 0 7px 7px rgba(0, 0, 0, 0.25), inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85), 0 0 7px 7px rgba(0, 0, 0, 0.25), inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85), 0 0 7px 7px rgba(0, 0, 0, 0.25), inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
    -o-box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85), 0 0 7px 7px rgba(0, 0, 0, 0.25), inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
}

.thumb {
    display: block;
}

/** wp override **/
.page-header {
  margin: 41px auto 33px auto;
  border: 0 none;
  padding: 0 15px;
  position: relative;
}

.page-header h2 {
  color: #212121;
  font-size: 40px;
  font-weight: 300;
  line-height: 48px;
  display: table;
  border-top: 2px solid #212121;    
}

.read-more, .read-more:hover, .read-more:focus, .read-more:visited, .read-more:link {
    text-decoration: none;
    outline: none;
}

/** paging **/
.page-numbers-position {
    display: table;
    padding: 21px 13px;
    margin: 0 auto;
    clear: both;
}
.page-numbers:hover, .page-numbers:focus {
    color: #2A6496;
    background-color: #EEE;
    border-color: #DDD;
    text-decoration: none;
}
.next {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.prev {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.page-numbers {
    padding: 12px 19px;
    position: relative;
    float: left;
    font-face: 17px;
    margin-left: -1px;
    line-height: 1.42857;
    color: #428BCA;
    text-decoration: none;
    background-color: #FFF;
    border: 1px solid #DDD;
}

.current, .current:hover {
    z-index: 2;
    color: #FFF;
    cursor: default;
    background-color: #428BCA;
    border-color: #428BCA;
}