#wp-admin-bar-wp-logo,
#wpfooter,
#wp-version-message,
#dashboard_primary,
.welcome-panel-content h2,
.welcome-panel-content p,
#contextual-help-link,
#contextual-help-link-wrap,
label[for="dashboard_primary-hide"],
label[for="wp_welcome_panel-hide"],
.welcome-learn-more,
#wpadminbar li#wp-admin-bar-wp-logo
{ 
	display: none !important; 
}

label[for="siteurl"] {
	font-size: 0;
}
label[for="siteurl"]:before {
	content: "Real Address (URL):";
	font-size: 14px;
}

#home-description {
	font-size: 0;
}
#home-description:before {
	content: "Enter the address here if you want your site home page to be different from your installation directory.";
	font-size: 14px;	
}